{% extends 'parent.html.twig' %}

{% block content %}
    <form method="post">
        Username: <input type="text" name="_username"> <br>
        Password: <input type="password" name="_password"> <br>
        <input type="submit" value="Login">
    </form>
{% endblock %}