<div class="col-md-4 col-md-offset-1 border">
	<form name="passwordForm">
		<label for="oldpassword">Old password</label>
		<input type="password" id="oldpassword" ng-model="password.oldpassword" class="form-control" required></input> <br>
		<label for="newPassword">New password</label>
		<input type="password" id="newPassword" ng-model="password.newPassword" class="form-control" required></input> <br>
		<label for="confirmPassword">Confirm password</label>
		<input type="password" id="confirmPassword" ng-model="password.confirmPassword" class="form-control" required></input> <br>
		<button class="btn btn-primary" ng-disabled="passwordForm.$invalid" ng-click="changePassword(password)">Submit</button>
	</form>
</div>