<h1 class="info">New Project</h1>
<form name="newProjectForm">
	<label for="name">Name</label>
	<input type="text" id="name" ng-model="newProject.name" class="form-control" required></input> <br>
	<label for="description">Description</label>
	<input type="text" id="description" ng-model="newProject.description" class="form-control" required></input> <br>
	<label for="projectKey">ProjectKey</label>
	<input type="text" id="projectKey" ng-model="newProject.projectKey" class="form-control" required></input> <br>
	<label for="leadId">LeadID</label>
	<select class="form-control" id="leadId" ng-model="newProject.leadId" required>
		<option ng-repeat="user in allUsers | orderBy: 'Username'" value="{{user.Id}}">{{user.Username}}</option>
	</select> <br>
	<label for="priorities">Priorities (separated by comma)</label>
	<input type="text" id="priorities" ng-model="newProject.priorities.name" class="form-control"></input> <br>
	<label for="labels">Labels (separated by comma)</label>
	<input type="text" id="labels" ng-model="newProject.labels.name" class="form-control"></input> <br>
	
	<button class="btn btn-lg btn-success" ng-disabled="newProjectForm.$invalid" ng-click="project(newProject)">Add Project</button>
</form>