{% extends 'parent.html.twig' %}

{% block content %}

    <div class="container make-some-space">
        <div class="row">
            {# Cart #}
            <div class="col-md-4">
                <h1 class="punch-line" align="center">Cart</h1>
                <hr class="line">
                {{ dump(cart) }}
            </div>
        </div>
    </div>

{% endblock %}