{% extends 'parent.html.twig' %}

{% block content %}

    <div class="container make-some-space">
        <div class="row">
            {# Create a new Category #}
            <div class="col-md-4">
                <h1 class="punch-line" align="center">Add new</h1>
                <hr class="line">
            </div>
        </div>
    </div>

{% endblock %}