body {
    font: 26px Verdana, Arial, sans-serif;
    padding-left: 100px;
    color: darkblue;
}
#clock {
    color: white;
    font-size: 48px;
}
p {
    margin: 10px;
}
div {
    padding: 30px;
    text-align: center;
    width: 300px;
    height: 128px;
    background: deepskyblue;
    border-radius: 30px;
}