<h1>Project page</h1>
<div class="col-md-6">
	<span class="project">{{getProjectById.ProjectKey}}</span> <a href="#/projects/{{getProjectById.Id}}/edit" class="btn btn-success">Edit</a> <a href="#/projects/{{getProjectById.Id}}/add-issue" class="btn btn-success">Add Issue</a> <br>
	Product key: {{getProjectById.ProjectKey}} <br>
	Name: {{getProjectById.Name}} <br>
	Description: {{getProjectById.Description}} <br>
	LeadId: {{getProjectById.Lead.Id}} <br>
	LeadUsername: {{getProjectById.Lead.Username}} <br>
	Labels: <span ng-repeat="label in getProjectById.Labels">{{label.Name}}, </span> <br>
	Priorities: <span ng-repeat="priority in getProjectById.Priorities">{{priority.Name}}, </span> <br>
</div>
<div class="col-md-6">
	<table class="table">
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Due Date</th>
			<th>Assignee</th>
		</tr>
		<tr ng-repeat="issue in issues">
			<td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
			<td>{{issue.Description}}</td>
			<td>{{issue.DueDate}}</td>
			<th>{{issue.Assignee.Username}}</th>
		</tr>
	</table>
</div>